#title{
    text-align: center;
}

section#color-palette{
    margin: 0 auto;
    text-align: center;
}

div.color{
    border: 1px solid black;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;       
}

div#Preto{
    background-color: black;
}

div#Violeta{
    background-color: blueviolet;
}

div#Indigo{
    background-color: indigo;
}

div#Azul{
    background-color: blue;
}

div#Verde{
    background-color: green;
}

div#Amarelo{
    background-color: yellow;
}

div#Laranja{
    background-color: orange;
}

div#Vermelho{
    background-color: red;
}
section#buttons{
    text-align: center;
}
button#clear-board{
    text-align: center;
}

section#pixel-board{
    margin: 20px auto;
    text-align: center;
    
}

div.pixel{
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 40px;
}
